body {
  background-color: #fefbd8;
}

.ltt-color { /* Les 8 couleurs du drivers en grand */
  width: 24;
  height:auto;
}

.ltt-color-sm { /* Les 8 couleurs du drivers en petit */
  width: 12;
  height:auto;
}

.ltt-card {
  background-color: gainsboro;
  color: darkslategrey;
}

.ltt-input {
max-width: 100px;
margin: 5px;
}

.ltt-input-2 {
max-width: 100px;
margin: 5px;
}

.ltt-form-ps {
/*background-color: #ffffff;*/
max-width: auto;
}

.ltt-form-ps-blue {
background-color: #0000ff;
}

.btn-black {
  background-color: #000000;
  color:#000000;
  border-color: #000000;
}

/*
h1 {
  background-color: #80ced6;
}

div {
  background-color: #d5f4e6;
}

span {
  background-color: #f18973;
}
*/