body {
  background-color: #fefbd8;
}

.ltt-travail {
    margin-bottom: 0px;
}
.ltt-col1 {
  background-color: #f0efef;
}

.ltt-col2 {
  background-color: #ddeedd;
}

.ltt-col3 {
  background-color: #c2d4dd;
}

.ltt-col4 {
  background-color: #b0aac0;
}


.ltt-color { /* Les 8 couleurs du drivers en grand */
  width: 24;
  height:auto;
}

.ltt-color-sm { /* Les 8 couleurs du drivers en petit */
  width: 12;
  height:auto;
}

.ltt-card {
  background-color: white;
  color: darkslategrey;
}

.ltt-input {
/*max-width: 100px;*/
margin: 5px;
}

.ltt-travail-label, .ltt-laser-label  {
outline: none;
max-width: 100px;
margin-top: 5px;
/*margin-bottom: 0px;*/
border:none;
}

.ltt-laser-input {
/*max-width: 100px;*/
margin: 5px;
}


input[type="text"]:disabled { background-color:#11ffee00; }

.ltt-form-ps {
/*background-color: #ffffff;*/
max-width: auto;
}

.ltt-form-ps-blue {
background-color: #0000ff;
}

.btn-black {
  background-color: #000000;
  color:#000000;
  border-color: #000000;
}

/*
h1 {
  background-color: #80ced6;
}

div {
  background-color: #d5f4e6;
}

span {
  background-color: #f18973;
}
*/

#