body {
  background-color: #fefbd8;
}

.ltt-color {
  width: 24;
  height:auto;
}
.db-group {
}

.ltt-card {
  background-color: gainsboro;
  color: darkslategrey;
}

.ltt-input {
max-width: 65px;
margin: 5px;
}

.ltt-form-ps {
/*background-color: #ffffff;*/
/*max-width: 500px;*/
}

.btn-black {
  background-color: #000000;
  color:#000000;
  border-color: #000000;
}

/*
h1 {
  background-color: #80ced6;
}

div {
  background-color: #d5f4e6;
}

span {
  background-color: #f18973;
}
*/