body {
  background-color: #fefbd8;
}

hr {
  margin-bottom:5px;
  margin-top: 5px;
}

.ltt-col1 {
  background-color: #f0efef;
}

.ltt-col2 {
  background-color: #ddeedd;
}

.ltt-col3 {
  background-color: #c2d4dd;
}

.ltt-col4 {
  background-color: #b0aac0;
}

.ltt-laser-ligne1 {
  margin-bottom: 0px;
}

.ltt-laser-lignes {
  margin-bottom: 5px;
}
.ltt-color { /* Les 8 couleurs du drivers en grand */
  width: 24;
  height:auto;
}

.ltt-color-sm { /* Les 8 couleurs du drivers en petit */
  width: 12;
  height:auto;
}

.ltt-card { /* OK*/
  background-color: white;
  color: darkslategrey;
}

.ltt-helphidden { /* OK*/
    display: none;
}
.ltt-input {
/*max-width: 100px;*/
margin: 5px;
}

.ltt-label {
/*margin-top: 3px;
margin-bottom: 3px;*/
font-size: 14px;
}

/* INUTILISE .ltt-label-sm, */
.ltt-travail-sm {
font-size: 12;
}

.ltt-laser {
  width: 100px;
  text-align: center;
}

.ltt-travail {
  width: 100px;
  margin-bottom: 0px;
}

.ltt-travail-label {
  width: 100px;
  margin-bottom: 0px;
  font-size: 14px;
}

.ltt-travail-label-md {
  font-size: 14px;
}

.ltt-travail-sm {
  width: 87px;
}
/* INUTILISE
.ltt-travail-label, .ltt-laser-label  {
width: 100px;
margin-top: 5px;
margin-bottom: 3px;
border:none;
background-color:#11ffee00;
font-size: medium;
}*/

.ltt-travail-radio {
/*max-width: 100px;
margin-top: 5px;*/
color: #495057;

}
.ltt-laser-input {
margin: 5px;
max-width: 100px;
font-size: 12px;
}

.ltt-travail-input {
    height: 24px;
    font-size: .800rem;
    max-width: 100px;
}

.ltt-left {
  border-right: 1px solid;
  border-right-color: #ced4da;
}


input[type="text"]:disabled { background-color:#11ffee00; }

.ltt-travail-form {
padding-left: 10px;
padding-bottom: 10px;
}

.ltt-travail-formgda {
    margin-right: 20px;
}
.btn-black {
  background-color: #000000;
  color:#000000;
  border-color: #000000;
}

/*
h1 {
  background-color: #80ced6;
}

div {
  background-color: #d5f4e6;
}

span {
  background-color: #f18973;
}
*/

.ltt-select {
    padding: 2px;
    border: solid 1px #517B97;
    outline: 0;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    font-size: small;
    width: 120px;
    height: 20px;
    }
