<div class="container ltt-col1">
    <div class="form-row ltt-form-ps align-items-center">
        <div class="form-group col-md-1" style="margin-bottom: 0px;">
            <img src="{{ url_for('static', filename='images/ltt-transp.png') }}"
                 class="ltt-color">
        </div>
        <div class="form-group col" style="margin-bottom: 0px;">
            <input type="text" id="power" placeholder="Puissance"
                   class="form-control form-control-sm ltt-laser-input" onblur = "TousLesMemes(this);"
                   data-toggle="tooltip" data-placement="top" data-html=true
                   title="Puissance fixe pour toutes les couleurs<br>Vitesse variable">

        </div>
        <div class="form-group col" style="margin-bottom: 0px;">
            <input type="text" id="speed" placeholder="Vitesse" onblur = "TousLesMemes(this);"
                   class="form-control form-control-sm ltt-laser-input"
                   data-toggle="tooltip" data-placement="top" data-html=true
                   title="Vitesse fixe pour toutes les couleurs<br>Puissance variable">
        </div>
        <div class="form-group col" style="margin-bottom: 0px;">
            <input type="text" placeholder="PPI"
                   class="form-control form-control-sm ltt-laser-label" disabled>
        </div>
        <div class="form-group col" style="margin-bottom: 0px;">
            <input type="text" placeholder="Offset"
                   class="form-control form-control-sm ltt-laser-label" disabled>
        </div>
        <div class="form-group col" style="margin-bottom: 0px;">
            <input type="text" placeholder="Focus"
                   class="form-control form-control-sm ltt-laser-label" disabled>
        </div>
    </div>

    <hr style="margin:0px;">
    {% for ci in form.colorinfos %}
    {% set file_name = "images/ltt-circle-color%d.png" % loop.index0 %}
    <div class="form-row ltt-form-ps align-items-center">
        <div class="form-group col-md-1" style="margin-bottom: 10px;">
            <img src="{{ url_for('static', filename=file_name) }}"
                 class="ltt-color">
        </div>
        <div class="col">
            {{ wtf.form_field(ci.power, form_type="inline",class="form-control
            form-control-sm
            ltt-input") }}
            {#% for error in ci.power.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %#}
        </div>
        <div class="col">
            {{ wtf.form_field(ci.speed, form_type="inline",class="form-control
            form-control-sm
            ltt-input") }}
        </div>
        <div class="col">
            {{ wtf.form_field(ci.ppi, form_type="inline",class="form-control
            form-control-sm
            ltt-input") }}
        </div>
        <div class="col">
            {{ wtf.form_field(ci.offset, form_type="inline",class="form-control
            form-control-sm
            ltt-input") }}
        </div>
        <div class="col">
            {{ wtf.form_field(ci.focus, form_type="inline",class="form-control
            form-control-sm
            ltt-input") }}
        </div>
    </div>
    {% endfor %}
</div>
