<div class="container">
    <div class="form-row ltt-form-ps align-items-center">
        <div class="form-group col-md-1">
            <img src="{{ url_for('static', filename='images/ltt-transp.png') }}"
                 class="ltt-color">
        </div>
        <div class="form-group col-md-2">
            <input type="text"
                   class="form-control form-control-sm ltt-input disabled"
                   style="background-color:gainsboro;" placeholder="Puissance">
        </div>
        <div class="form-group col-md-2">
            <input type="text"
                   class="form-control form-control-sm ltt-input disabled"
                   style="background-color:gainsboro;" placeholder="Vitesse">
        </div>
        <div class="form-group col-md-2">
            <input type="text"
                   class="form-control form-control-sm ltt-input disabled"
                   style="background-color:gainsboro;" placeholder="PPI">
        </div>
        <div class="form-group col-md-2">
            <input type="text"
                   class="form-control form-control-sm ltt-input disabled"
                   style="background-color:gainsboro;" placeholder="Offset">
        </div>
        <div class="form-group col-md-2">
            <input type="text"
                   class="form-control form-control-sm ltt-input disabled"
                   style="background-color:gainsboro;" placeholder="Focus">
        </div>
    </div>


    {% for ci in form.colorinfos %}
    {% set file_name = "images/ltt-circle-color%d.png" % loop.index0 %}
    <div class="form-row ltt-form-ps align-items-center">
        <div class="form-group col-md-1" style="margin-bottom: 10px;">
            <img src="{{ url_for('static', filename=file_name) }}"
                 class="ltt-color">
        </div>
        <div class="col-md-2">
            {{ wtf.form_field(ci.power, form_type="inline",class="form-control
            form-control-sm
            ltt-input") }}
        </div>
        <div class="col-md-2">
            {{ wtf.form_field(ci.speed, form_type="inline",class="form-control
            form-control-sm
            ltt-input") }}
        </div>
        <div class="col-md-2">
            {{ wtf.form_field(ci.ppi, form_type="inline",class="form-control
            form-control-sm
            ltt-input") }}
        </div>
        <div class="col-md-2">
            {{ wtf.form_field(ci.offset, form_type="inline",class="form-control
            form-control-sm
            ltt-input") }}
        </div>
        <div class="col-md-2">
            {{ wtf.form_field(ci.focus, form_type="inline",class="form-control
            form-control-sm
            ltt-input") }}
        </div>
    </div>
    {% endfor %}
</div>
