<div class="container ltt-col1">
  <div class="row ltt-col2">
    <div class="col-sm-4 ltt-col3">
      One of three columns
    </div>
    <div class="col-sm-6 ltt-col4">
      One of three columns
    </div>
    <div class="col-sm-2 ltt-col3">
      One of three columns
    </div>
  </div>
    <hr>
  <div class="row ltt-col2">
    <div class="col-md-4 ltt-col3">
      One of three columns
    </div>
    <div class="col-md-6 ltt-col4">
      One of three columns
    </div>
    <div class="col-md-2 ltt-col3">
      One of three columns
    </div>
  </div>
    <hr>
  <div class="row ltt-col2">
    <div class="col-md-4 ltt-col3">
      One of two columns
    </div>
    <div class="col-md-8 ltt-col4">
      One of two columns
    </div>
  </div>
    <hr>
  <div class="row ltt-col2">
    <div class="col-md-12 ltt-col3">
      One of one column
    </div>
  </div>
</div>

