{% set file_name = "images/ltt-color%d.png" % i %}
<div class="form-row align-items-center ltt-form-ps">
    <div class="form-group">
        <img src="{{ url_for('static', filename=file_name) }}" class="ltt-color">
    </div>

    <div class="form-group">
        <input type="text" class="form-control form-control-xs ltt-input" placeholder="Puiss.">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-xs ltt-input" placeholder="Vitesse">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-sm ltt-input" placeholder="PPI">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-sm ltt-input" placeholder="Offset">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-sm ltt-input" placeholder="Focus">
    </div>

    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="chk1{{i}}"
                   id="inlineCheckbox1">
            <!--label class="form-check-label" for="chk2">D</label-->
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="chk2"
                   id="inlineCheckbox1">
            <!--label class="form-check-label" for="chk2">G</label-->
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="chk2"
                   id="inlineCheckbox1">
            <!--label class="form-check-label" for="chk2">A</label-->
        </div>
    </div>
</div>
