{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}SHOW FIELDS{% endblock %}

{% block content %}

{#% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %#}

<form method="POST" action="" novalidate onkeydown="return event.key != 'Enter';">
{{ form.csrf_token }}
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
    <hr>
<div class="container ltt-col1">

   <div class="row">
        <div class="col-5">
            <div class="container">
                <div id="help-content"></div>
            </div>
        </div>

        <div class="col-7">
            <div class="card ltt-card mb- tab-card">
            {% with messages = get_flashed_messages(with_categories=true) %}
              <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <!-- <strong>Title</strong> --> {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
                <div class="card-header tab-card-header">


                    <ul class="nav nav-tabs card-header-tabs" id="lttTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="laser-tab" data-toggle="tab" href="#laser" role="tab"
                               aria-controls="Laser" aria-selected="false">Laser</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="travail-tab" data-toggle="tab" href="#travail" role="tab"
                               aria-controls="Travail" aria-selected="true">Travail</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="page-tab" data-toggle="tab" href="#page" role="tab"
                               aria-controls="Page" aria-selected="false">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="puissance-tab" data-toggle="tab" href="#puissance" role="tab"
                               aria-controls="Puissance" aria-selected="false">Puissance</a>
                        </li>
                    </ul>
                </div>

                    <div class="tab-content" id="lttTabContent">
                        <div class="tab-pane show active fade p-3" id="laser" role="tabpanel" aria-labelledby="laser-tab">
                            {% include "_laser.html" %}
                        </div>
                         <div class="tab-pane fade p-3" id="travail" role="tabpanel" aria-labelledby="travail-tab">
                            {% include "_travail.html" %}
                        </div>
                        <div class="tab-pane fade p-3" id="page" role="tabpanel" aria-labelledby="page-tab">
                            {% include "_page.html" %}
                            <!--h5 class="card-title">Tab Card Three</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a-->
                        </div>

                        <div class="tab-pane fade p-3" id="puissance" role="tabpanel" aria-labelledby="puissance-tab">
                        </div>
                    </div>
                <!--/form-->
            </div>
        </div>
        <!--div class="col-2"></div-->
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <input class="btn btn-primary" type="submit" value="Enregistrer les modifications">
        </div>
        <div class="col-2"></div>
    </div>
</div>
</form>
{% endblock %}

