{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% from "_formhelpers.html" import render_input %}
{% set idpower = form.power_0 %}

{% block title %}Home Page{% endblock %}
{% block content %}

<div class="container col-10">
    <form method="POST" action="/showltt">
     {{ form.csrf_token }}
       <div class="form-row align-items-center ltt-form-ps">
            <div class="form-group">
                <input type="text" id="power_0" name="power_0" class="form-control form-control-sm ltt-input" value=>
            </div>
        </div>

    </form>

</div>
{% endblock %}
