{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}SHOW FIELDS{% endblock %}
{% block content %}
{#% set file_name = "images/ltt-circle-color%d.png" % i %#}
    <br>
    <h3 class="text-center" id="montexte">Paramétrage Gravure / Découpe Laser</h3>
<div class="container col-8">
    <hr>
    <div class="row justify-content-center" style="margin-left:auto; margin-right:auto">

            <div class="card ltt-card">
                <article class="card-body">
                    <h4 class="card-title text-center mb-6 mt-1">Puissances et Vitesses</h4>
                    <hr>
                    <form method="POST" action="/showltt">

                        <div class="card-body" style="max-width: auto;">
                            <div class="form-row align-items-center ltt-form-ps">
                                <div class="form-group">
                                    <img src="{{ url_for('static', filename='images/ltt-transp.png') }}"
                                         class="ltt-color">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm ltt-input invisible">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm ltt-input invisible">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm ltt-input invisible">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm ltt-input invisible">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm ltt-input invisible">
                                </div>

                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <div class="checkbox">
                                            <label for="chk-gravure">
                                                <input type="checkbox" id="chk-gravure" onclick="MyFunc('gravure')"> G
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <div class="checkbox">
                                            <label for="chk-decoupe">
                                                <input type="checkbox" id="chk-decoupe" onclick="MyFunc('decoupe')"> D
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <div class="checkbox">
                                            <label for="chk-airblow">
                                                <input type="checkbox" id="chk-airblow" onclick="MyFunc('airblow')"> A
                                            </label>
                                            <span class="fas fa-solid fa-question" data-html="true"
                                                  data-toggle="tooltip"
                                                  data-placement="top"
                                                  title="G: Gravure<br>D: Découpe<br>A: Airblow"></span>
                                        </div>
                                    </div>


                                </div>
                            </div>


                            {% for ci in form.colorinfos %}
                            {% set file_name = "images/ltt-circle-color%d.png" % loop.index0 %}
                            <div class="form-row align-items-center ltt-form-ps">
                                <div class="form-group">
                                    <img src="{{ url_for('static', filename=file_name) }}" class="ltt-color">
                                </div>
                                {{ wtf.form_field(ci.power, form_type="inline",class="form-control form-control-sm
                                ltt-input") }}
                                {{ wtf.form_field(ci.speed, form_type="inline",class="form-control form-control-sm
                                ltt-input") }}
                                {{ wtf.form_field(ci.ppi, form_type="inline",class="form-control form-control-sm
                                ltt-input") }}
                                {{ wtf.form_field(ci.offset, form_type="inline",class="form-control form-control-sm
                                ltt-input") }}
                                {{ wtf.form_field(ci.focus, form_type="inline",class="form-control form-control-sm
                                ltt-input") }}
                                <div class="form-group">

                                    <div class="form-check form-check-inline">
                                        {{ wtf.form_field(ci.gravure, form_type="inline",class="form-check-input
                                        chk-gravure") }}
                                    </div>
                                    <div class="form-check form-check-inline">
                                        {{ wtf.form_field(ci.decoupe, form_type="inline",class="form-check-input
                                        chk-decoupe") }}
                                    </div>
                                    <div class="form-check form-check-inline">
                                        {{ wtf.form_field(ci.airblow, form_type="inline",class="form-check-input
                                        chk-airblow") }}

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <input class="btn btn-primary" type="submit" value="Enregistrer les modifications">
                    </form>
                </article>
            </div>

            <div class="card">
            <div class="card-header">
                <h5 class="card-title">Network Settings</h5>
                <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#dhcp">DHCP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#static">Static</a>
                    </li>
                </ul>
            </div>
            <form class="card-body tab-content">
                <div class="tab-pane active" id="dhcp">
                    <p class="card-text">Change DHCP Network settings.</p>
                </div>
                <div class="tab-pane" id="static">
                    <p class=" card-text">Change Static Network settings.</p>
                </div>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
       </div>
        <!--/aside--> <!-- col.// -->


    </div> <!-- row.// -->
</div>
{% endblock %}

