<div class="container ltt-col1">
    <div class="row">
        <div class="col col-md-5 ltt-left">
            <label class="ltt-label ltt-travail">Mode Travail</label>

            {#{ form.trvmode.label(class="ltt-label ltt-travail") }#}

            <div class="form-check"><!-- ltt-form-ps"-->
            {% for subfield in form.trvmode %}
                {{ subfield(class="form-check form-check-input") }}
                {{ subfield.label(class="ltt-label ltt-travail") }}
                {% if loop.index0 == 0 %}
                <div class="form-check"><!-- ltt-form-ps"-->
                    {{ form.trvtrame(class="form-check form-check-input ltt-norm") }}
                    {{ form.trvtrame.label(class="ltt-label ltt-travail") }}
                </div>
                    <div style="padding-top:10px;">
                        {{ form.trvmethode(class="form-control ltt-select ltt-norm") }}
                    </div>
                <br>
                {% elif loop.index0 == 1 %}
                <div class="form-check form-check-inline"><!-- ltt-form-ps" style="margin-bottom: 0px;"-->
                    {{ form.trvoffset.label(class="ltt-label ltt-travail") }}
                    {{ form.trvoffset(class="form-control ltt-travail-input ltt-tampon") }}
                </div>
                <br><br>
                {% else %}
                <div class="form-check"><!-- style="padding-top:20px;"-->
                    {{ form.trv16niv(class="form-check form-check-input ltt-gris") }}
                    {{ form.trv16niv.label(class="ltt-label ltt-travail") }}
                </div>
                <p></p>
                {% endif %}
            {% endfor %}
            </div>

        </div>

        <div class="col col-md-7">
            <label class="ltt-label ltt-travail">Mode Avancé</label>
                <div class="form-check">
                    <div class="ltt-travail-form">
                    <div class="form-check form-check-inline"><!-- ltt-form-ps" style="margin-bottom: 0px;"-->
                        <div class="form-check form-check-inline"><!-- style="padding-top:20px;"-->
                            {{ form.trvmodenb(class="form-check form-check-input") }}
                            {{ form.trvmodenb.label(class="ltt-label ltt-travail") }}
                        </div>
                        <div class="form-check form-check-inline"><!-- style="padding-top:20px;"-->
                            {{ form.trvoptimvect(class="form-check form-check-input") }}
                            {{ form.trvoptimvect.label(class="ltt-label ltt-travail") }}
                        </div>
                    </div>
                    </div>

                    <div class="ltt-travail-form">
                    <div class="form-check form-check-inline"><!-- ltt-form-ps" style="margin-bottom: 0px;"-->
                        <div class="form-check form-check-inline"><!-- style="padding-top:20px;"-->
                            {{ form.trvmirror(class="form-check form-check-input") }}
                            {{ form.trvmirror.label(class="ltt-label ltt-travail") }}
                        </div>
                        <div class="form-check form-check-inline"><!-- style="padding-top:20px;"-->
                            {{ form.trvjctcurve(class="form-check form-check-input") }}
                            {{ form.trvjctcurve.label(class="ltt-label ltt-travail") }}
                        </div>
                    </div>
                    </div>

                    <div class="ltt-travail-form">
                    <div class="form-check form-check-inline"><!-- ltt-form-ps" style="margin-bottom: 0px;"-->
                        <div class="form-check form-check-inline"><!-- style="padding-top:20px;"-->
                            {{ form.trvpulse(class="form-check form-check-input") }}
                            {{ form.trvpulse.label(class="ltt-label ltt-travail") }}
                        </div>
                        <div class="form-check form-check-inline"><!-- style="padding-top:20px;"-->
                            {{ form.trvnegatif(class="form-check form-check-input ltt-tampon") }}
                            {{ form.trvnegatif.label(class="ltt-label ltt-travail") }}
                        </div>
                    </div>
                    </div>
                </div>

            <hr>

            <label class="ltt-label ltt-travail">Impulsion</label>
            <div class="form-check"><!-- ltt-form-ps"-->
                <div class="form-input">
                    <div class="form-check ltt-travail-form"><!-- style="padding: 5px;"-->
                        <div class="form-check form-check-inline"><!-- ltt-form-ps" style="margin-bottom: 0px;"-->
                            {{ form.trvpulsecpt.label(class="ltt-label ltt-travail") }}
                            {{ form.trvpulsecpt(class="form-control ltt-travail-input ltt-pulse") }}
                        </div>
                    </div>
                    <div class="form-check ltt-travail-form"><!-- style="padding: 5px;"-->
                        <div class="form-check form-check-inline"><!-- ltt-form-ps" style="margin-bottom: 0px;"-->
                            {{ form.trvpulseon.label(class="ltt-label ltt-travail") }}
                            {{ form.trvpulseon(class="form-control ltt-travail-input ltt-pulse") }}
                            <label class="ltt-label ltt-travail">&nbsp;ms</label>
                        </div>
                    </div>
                    <div class="form-check ltt-travail-form"><!-- style="padding: 5px;"-->
                        <div class="form-check form-check-inline"><!-- ltt-form-ps" style="margin-bottom: 0px;"-->
                            {{ form.trvpulseoff.label(class="ltt-label ltt-travail") }}
                            {{ form.trvpulseoff(class="form-control ltt-travail-input ltt-pulse") }}
                            <label class="ltt-label ltt-travail">&nbsp;ms</label>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col col-md-4 ltt-left">
            <label class="ltt-label">Résolution (DPI)</label>
            <div class="form-check"><!-- ltt-form-ps"-->
                    {{ form.trvresol(class="form-control ltt-select") }}
            </div>
            <br>
        </div>

        <div class="col col-md-8 ">
            <label class="ltt-label">Type de Gravure</label>
            <div class="form-check"><!-- ltt-form-ps"-->
                            <div class="form-check ltt-travail-form"><!-- style="padding: 5px;"-->
                                <div class="form-check form-check-inline ">
                                    {{ form.trvtypemode.label(class="ltt-label ltt-travail") }}
                                    {{ form.trvtypemode(class="form-control ltt-select") }}
                                </div>
                            </div>
                            <div class="form-check ltt-travail-form"><!-- style="padding: 5px;"-->
                                <div class="form-check form-check-inline ">
                                    {{ form.trvtypedir.label(class="ltt-label ltt-travail") }}
                                    {{ form.trvtypedir(class="form-control ltt-select") }}
                                    {#{ form.trvtypedir(class="form-check form-check-input") }#}
                                </div>
                            </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col col-md-8">

            <label class="ltt-label">Réglage Découpe/Gravure</label>

            <div class="form-row ltt-travail-form">
                <div class="form-check form-check-inline ltt-travail-formgda">
                <div class="form-group col ">
                    <label class="ltt-label ltt-label-sm ltt-travail-sm"></label>
                </div>
                </div>

                {% for ci in form.colorinfos %}
                {% set file_name = "images/ltt-circle-color%d.png" % loop.index0 %}
                <div class="form-check form-check-inline">
                <img src="{{ url_for('static', filename=file_name) }}"
                 class="ltt-color-sm" style="margin-right:5px;">
                </div>
                {% endfor %}
            </div>

            <div class="form-row ltt-travail-form">
                <div class="form-check form-check-inline ltt-travail-formgda">
                    {{ form.trvgravure.label(class="ltt-label ltt-travail") }}
                    {{ form.trvgravure(class="form-check form-check-input") }}
                    {#{ form.chkgravure.label(class="ltt-label ltt-travail") }}
                    {{ form.chkgravure(class="form-check form-check-input") }#}
                </div>
                {% for ci in form.colorinfos %}
                <div class="form-check form-check-inline">
                    {{ ci.gravure(class="form-check form-check-input ltt-gra-chk") }}
                </div>
                {% endfor %}
            </div>

            <div class="form-row ltt-travail-form">
                <div class="form-check form-check-inline ltt-travail-formgda">
                    {{ form.trvdecoupe.label(class="ltt-label ltt-travail") }}
                    {{ form.trvdecoupe(class="form-check form-check-input") }}
                    {#{ form.chkdecoupe.label(class="ltt-label ltt-travail") }}
                    {{ form.chkdecoupe(class="form-check form-check-input") }#}
                </div>
                {% for ci in form.colorinfos %}
                <div class="form-check form-check-inline">
                    {{ ci.decoupe(class="form-check form-check-input ltt-dec-chk") }}
                </div>
                {% endfor %}
            </div>

            <div class="form-row ltt-travail-form">
                <div class="form-check form-check-inline ltt-travail-formgda">
                    {{ form.trvairblow.label(class="ltt-label ltt-travail") }}
                    {{ form.trvairblow(class="form-check form-check-input") }}
                    {#{ form.chkairblow.label(class="ltt-label ltt-travail") }}
                    {{ form.chkairblow(class="form-check form-check-input") }#}
                </div>
                {% for ci in form.colorinfos %}
                <div class="form-check form-check-inline">
                    {{ ci.airblow(class="form-check form-check-input ltt-air-chk") }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col col-md-4">
            <br><br>

            <div class="form-check ltt-travail-radio">
              <input class="form-check-input" type="radio" name="trv-cutmode" id="trv-cutmode-couleur" value="option1" checked>
              <label class="ltt-label ltt-label ltt-travail" for="trv-cutmode-couleur">Par couleur</label>
            </div>
            <div class="form-check ltt-travail-radio">
              <input class="form-check-input" type="radio" name="trv-cutmode" id="trv-cutmode-dessin" value="option2">
              <label class="ltt-label ltt-label ltt-travail" for="trv-cutmode-dessin">Par dessin</label>
            </div>

        </div>
    </div>
</div>
