<p><small>
L’onglet [Laser] comporte la Puissance, la Vitesse et le nombre d’impulsions (PPI) affectés à chacune
des huit couleurs.
</small></p>
<p class="text-sm"><small>
i.LASER permet de couper ou de graver au moyen de 8 groupes de puissance/ vitesse/nombre d’
impulsions par pouce (PPI) représentés chacun par une couleur. Si, sur le dessin, une couleur
diffère de ces 8 , le driver choisira une couleur similaire en fonction de sa valeur RVB.
</small></p>
<h6>Puissance</h6>
<p><small>
Cette fonction permet de moduler la puissance du laser en n’utilisant qu’une partie de sa puissance
totale. Par exemple, en sélectionnant 50 % de puissance avec une machine de 30 W, la puissance
générée sera d’environ 15 W
</small></p>
<hr>
<p><small>
L’onglet [Laser] comporte la Puissance, la Vitesse et le nombre d’impulsions (PPI) affectés à chacune
des huit couleurs.
</small></p>
<p class="text-sm"><small>
i.LASER permet de couper ou de graver au moyen de 8 groupes de puissance/ vitesse/nombre d’
impulsions par pouce (PPI) représentés chacun par une couleur. Si, sur le dessin, une couleur
diffère de ces 8, le driver choisira une couleur similaire en fonction de sa valeur RVB.
</small></p>
<p><small><bold>Puissance</bold></small></p>
<p><small>
Cette fonction permet de moduler la puissance du laser en n’utilisant qu’une partie de sa puissance
totale. Par exemple, en sélectionnant 50 % de puissance avec une machine de 30 W, la puissance
générée sera d’environ 15 W
</small></p>