{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>Configurateur pour Découpe / Gravure Laser LTT </h1>
<hr>

<div class="container">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body" style="max-width: 700px;">
                <h1 class="card-title">Card title</h1>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <p>{{ url_for('lttconfig') }}</p>
                <a href="{{ url_for('lttconfig') }}" class="btn btn-primary">Nouveau fichier</a>
                <a href="{{ url_for('upload') }}" class="btn btn-primary">Charger fichier</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

