Charge un fichier dans une div
function loadHTML(id, filename) {
    console.log(`div id: ${id}, filename: ${filename}`);
    element = document.getElementById(id);
    file = "static/helpfiles/"+filename;
    alert(file)
    //return
    let xhttp;
    if (file) {
      msg="2-"+file
      alert(msg)
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        //alert(filename);
        if (this.readyState == 4) {
          if (this.status == 200) element.innerHTML = "Ok"; //this.responseText;
          if (this.status == 404) loadHTML("help-content", "help-404.html");
        }
      }
      xhttp.open("GET", file, true);
      xhttp.send();
      return;
    }
}
